/*================================================================================
NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*===========================================================================================*/
/*== form validation style ==================================================================*/
/*===========================================================================================*/

.input-field div.error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color:#d32f2f ;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.input-field label.active{
    width:100%;
}
.left-alert input[type=text] + label:after,
.left-alert input[type=password] + label:after,
.left-alert input[type=email] + label:after,
.left-alert input[type=url] + label:after,
.left-alert input[type=time] + label:after,
.left-alert input[type=date] + label:after,
.left-alert input[type=datetime-local] + label:after,
.left-alert input[type=tel] + label:after,
.left-alert input[type=number] + label:after,
.left-alert input[type=search] + label:after,
.left-alert textarea.materialize-textarea + label:after{
    left:0px;
}
.right-alert input[type=text] + label:after,
.right-alert input[type=password] + label:after,
.right-alert input[type=email] + label:after,
.right-alert input[type=url] + label:after,
.right-alert input[type=time] + label:after,
.right-alert input[type=date] + label:after,
.right-alert input[type=datetime-local] + label:after,
.right-alert input[type=tel] + label:after,
.right-alert input[type=number] + label:after,
.right-alert input[type=search] + label:after,
.right-alert textarea.materialize-textarea + label:after{
    right:70px;
}
.tools button{
    position: absolute;
    margin-top: 1.3rem;
}

/*===========================================================================================*/
/*== Datepicker style =======================================================================*/
/*===========================================================================================*/

.picker__date-display {
    background-color:#616161 !important;
}
.picker__weekday-display {
    background-color:#424242  !important ;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color:#757575  !important;
}

/*===========================================================================================*/
/*== Checkbox style =========================================================================*/
/*===========================================================================================*/

.red:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid red; /* You need to change the colour here */
    border-bottom: 2px solid red; /* And here */
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/*===========================================================================================*/
/*== Switch style ===========================================================================*/
/*===========================================================================================*/

.switch label input[type=checkbox]:checked+.lever {
    background-color: #a5d6a7;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #4caf50 ;
}

/*.switch  label input[type=checkbox]:checked+.lever {*/
    /*background-color: #b0bec5;*/


/*.switch label input[type=checkbox]:checked+.lever:after {*/
    /*background-color: #607d8b ;*/
/*}*/

/*===========================================================================================*/
/*===========================================================================================*/
/*===========================================================================================*/

/*.slider .indicators .indicator-item.active{ background-color:#ef6c00 ;}*/

/*[type="checkbox"].filled-in:checked + label:after{*/
/*border: 2px solid #757575 ;*/
/*background-color: #757575 ;*/
/*}*/