{% extends 'base.html.twig' %}

{% block body %}

    <!-- START CONTENT -->
    <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Besoin d’aide ?</h5>
                        <ol class="breadcrumbs">
                            <li><a href="{{ path('homepage') }}">Dashboard</a></li>
                            <li class="active">Besoin d’aide ?</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs end-->

        <!--start container-->
        <div class="container">
            <div class="section">
                <div class="card">
                    <div class="card-content">
                        <h5>Comment ça marche</h5>
                    </div>
                    <div class="card-action">
                        <ul class="collapsible collapsible-accordion z-depth-0" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header active">1 - Création de disponibilité  séance </div>
                                <div class="collapsible-body grey lighten-4">
                                    <p>Pour commencer d'abord il faut créer une liste des séances à fin de pouvoir ajouter un ou plusieurs terrains.<br>
                                    <i class="mdi-action-info "></i> <i class="mdi-image-tune"></i> Réglages <i class="mdi-navigation-chevron-right"></i> Scéances <i class="mdi-navigation-chevron-right"></i> <i class="mdi-content-add-circle green-text"></i></p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">2 - Création de terrain</div>
                                <div class="collapsible-body grey lighten-4">
                                    <p>Deuxième étape la création de terrain, et en lui affecter une liste des séances par order chronological selon l'heure de départ et le de fin.<br>
                                    <i class="mdi-action-info "></i>  <i class="mdi-action-view-array"></i> Terrain <i class="mdi-navigation-chevron-right"></i>  <i class="mdi-content-add-circle green-text"></i></p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header ">3 - Création de disponibilité période</div>
                                <div class="collapsible-body grey lighten-4">
                                    <p>Troisième étape la création du planning période pour chaque terrain crée , exemple: <i>planning par semaine, mensuelle ou annuelle</i> <br>
                                        <i class="mdi-action-info "></i> <i class="mdi-image-tune"></i> Réglages <i class="mdi-navigation-chevron-right"></i> Périodes <i class="mdi-navigation-chevron-right"></i> <i class="mdi-content-add-circle green-text"></i></p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header ">3 - Affectation du tarif sur l'ensemble des sécances de chaque terrain</div>
                                <div class="collapsible-body grey lighten-4">
                                    <p>Affectation de tarif pour chaque séance selon la période dans la journée.<br>
                                        <i class="mdi-action-info "></i> <i class="mdi-image-tune"></i> Réglages <i class="mdi-navigation-chevron-right"></i> Tarifs <i class="mdi-navigation-chevron-right"></i> <i class="mdi-content-add-circle green-text"></i></p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header ">4 - Informations du centre</div>
                                <div class="collapsible-body grey lighten-4">
                                    <p>Compléter les informations du centre comme logo, photos, services.<br>
                                        <i class="mdi-action-info "></i> <i class="mdi-editor-insert-photo"></i> Photos <i class="mdi-navigation-chevron-right"></i> <i class="mdi-content-add-circle green-text"></i><br>
                                        <i class="mdi-action-info "></i> Pour le logo et la liste des services se trouve dans la rubrique <i class="mdi-navigation-chevron-right"></i> Mon centre
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header ">5 - configuration</div>
                                <div class="collapsible-body grey lighten-4">
                                    <p>Partager planning du centre sur le site <b>taqwira.com</b> afin que les clients pouvaient le consulter et réserver une disponibilité.<br>
                                        <i class="mdi-action-info "></i> <i class="mdi-image-tune"></i> Configuration <i class="mdi-navigation-chevron-right"></i> <i class="mdi-toggle-check-box"></i> </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->


{% endblock body %}
