<div class="loader_form hide">
    <div id="modal1" class="modal" style="width: 6%; border-radius: 4px; z-index: 1003; display: block; opacity: 1; transform: scaleX(1); top: 40%;">
        <div class="modal-content center-align">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lean-overlay" id="materialize-lean-overlay" style="z-index: 1002; display: block; opacity: 0.5;"></div>
</div>